PORT=4000
NODE_ENV=development

# MySQL Database
DB_HOST=db-adad-fra1-12681-do-user-13947834-0.h.db.ondigitalocean.com
DB_PORT=dada
DB_USER=da
DB_PASSWORD=adad-Y
DB_NAME=dad

# JWT
JWT_SECRET=your-ad-secret-jwt-key-change-this
JWT_REFRESH_SECRET=your-ada-secret-refresh-key-change-this
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=adda

# Cloudinary
CLOUDINARY_CLOUD_NAME=your-adad-name
CLOUDINARY_API_KEY=dad
CLOUDINARY_API_SECRET=adad

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:5173
CLOUDINARY_URL=adad